<div id="search-box">
    <h1>Search village houses.</h1>
    <!-- Other search options -->

    <!-- Search by street-->
    <%= form_tag search_path, :method => 'get', :id => 'houses-search' do %>
      <div class="form-group locations">  <!-- Location, add proximity -->

        <%= select_tag :street, options_for_select(@streets), :class => "form-control", :prompt => "North Cedar, etc..." %>
      </div>

        <div class="form-group residents">    <!-- Also add bed counts -->
          <%= label_tag :residents, "Residents:" %>
          <%= number_field_tag :residents, "Residents", :class => "form-control", :id => 'res', :min => '1', :placeholder => 0 %>
          <%= label_tag :full, "Full beds: " %>
          <%= number_field_tag :full, "Full", :class => "form-control", :id => 'res', :min => '0', :placeholder => 0 %>
          <%= label_tag :twin, "Twin beds: " %>
          <%= number_field_tag :twin, "Twin", :class => "form-control", :id => 'res', :min => '0', :placeholder => 0 %>
        </div>
      <div class="form-group amenities"> <!-- Amenities -->
        <h2>Amenities</h2>
        <div class="check">
          <%= check_box_tag :laundry %>
          <%= label_tag :laundry, "Laundry" %>
        </div>
        <div class="check">
          <%= check_box_tag :porch %>
          <%= label_tag :porch, "Porch" %>
        </div>
        <div class="check">
          <%= check_box_tag :sun %>
          <%= label_tag :sun, "Sun room" %>
        </div>
      </div>

        <div class="selected-params">
            Show selected params here.
        </div>
        <%= submit_tag "Go!", :name => nil, :class => 'btn btn-primary btn-block', :style => "width: 50px;", :id => "go" %>
    <% end %>
</div>

<div id="houses">
    <%= render 'houses' %>
</div>