<h1>Search for housing.</h1>
<% @houses.each do |h|%>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= h.number %> <%= h.street %> <% if h.apartment %>Apt. <%= h.apartment %><% end %> </h3>
      </div>
      <div class="panel-body">
        <%= image_tag h.picture, :class => "house-icon" %>
        <b>Residents: </b> <%= h.residents %> <br/>
        <b>Beds: </b> <%= h.full %> full, <%= h.twin %> twin
      </div>
    </div>
<% end %>