<div class="row" id="signup-form">
  <h1>Sign up</h1>
  <%= form_for(@user) do |u| %>
    <%= render 'shared/error_messages' %>
    <div class="form-group">
      <%= u.label :name %>
      <%= u.text_field :name, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= u.label :email %>
      <%= u.text_field :email, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= u.label :password %>
      <%= u.password_field :password, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= u.label :password_confirmation %>
      <%= u.password_field :password_confirmation, :class => "form-control" %>
    </div>

    <%= u.submit "Create my account", :class => 'btn btn-primary btn-block' %>
  <% end %>
</div>