

<div class="row" id="review-form">
  <h1>Add a review</h1>
  <%= form_for(@review) do |u| %>
      <div class="form-group title-wrap">
        <%= u.text_field :title, :class => "form-control title", :placeholder => "Title your review!" %>
      </div>

      <div class="rev-stars">
        <span class="glyphicon glyphicon-star-empty star1"></span>
        <span class="glyphicon glyphicon-star-empty star2"></span>
        <span class="glyphicon glyphicon-star-empty star3"></span>
        <span class="glyphicon glyphicon-star-empty star4"></span>
        <span class="glyphicon glyphicon-star-empty star5"></span>
        <span id="rate"></span>
      </div>

      <div class="form-group">
        <%= u.text_area :content, :class => "form-control content", :size => '10x10', :placeholder => "Tell us about the house..." %>
      </div>

      <%= hidden_field_tag 'house_id', params[:id] %>
      <%= hidden_field_tag 'stars' %>
      <%= u.submit "Submit", :class => 'btn btn-primary btn-block sub' %>
  <% end %>
</div>